{% extends 'base.html' %}
{% block title %}Action detail{% endblock %}

{% block content %}
<nav class="navbar bg-dark" data-bs-theme="dark">
	<form class="container-fluid justify-content-space_around">
		<a href="{% url 'index' %}">
			<div class="logo mx-5"><img src="../static/quiz/images/logo.jpg"></div>
		</a>
		<div class="text-white"><i class="bi bi-person-circle "></i> {{user}}</div>
		<a href="{% url 'index' %}"><button class="btn btn-outline-secondary text-white mx-5" type="button">Log
				out</button></a>
	</form>
</nav>
{% if question is None %}
<div class="container text-center p-5 my-5 bg-opacity-75 bg-dark text-white rounded">
	<div class="my-4">
		<h1>You have already answered all questions. Look at the leaderboard</h1>
		<a href="{% url 'panel' %}" class="text-warning my-5 fs-5">More...</a>
	</div>
</div>

{% else %}

<div class="container p-5 my-5 bg-info text-dark rounded">
	<div class="my-4">
		<h2>your category id is: {{category_id}}</h2>
		<h3>
			{{question.text}}
		</h3>

		<form method="POST" class="form">
			{% csrf_token %}
			<input type="hidden" name="question_pk" value="{{question.pk}}">

			{% for options in question.options.all %}
			<div class="form-check mx-4">
				<input class="form-check-input" type="radio" name="answer_pk" value="{{options.pk}}"
					id="choice-{{forloop.counter}}">
				<label class="form-check-label" for="choice-{{forloop.counter}}">
					{{options.text}}
				</label>
			</div>
			{% endfor %}

			<a href="{% url 'action' %}">
				<button class="btn btn-success my-2">
					Next
				</button>
			</a>

		</form>

	</div>

</div>


{% endif %}

{% endblock %}