{% extends 'base.html' %}
{% block title %}Panel detail{% endblock %}
{% block content %}
{% csrf_token %}
<div class="container text-center p-5 my-5  bg-info bg-gradient text-white rounded">
	<h1 class="text-center my-4">
		<span class="badge badge-info ">

			The {{count_user}} best players

		</span>
	</h1>
	<table class="table table-striped table-bodered">
		<thead>
			<tr>
				<th>Position</th>
				<th>User</th>
				<th>Score</th>
			</tr>
		</thead>
		<tbody>
			{% for user_quiz in users_quiz %}
			<tr>
				<th>{{forloop.counter}}</th>
				<th>{{user_quiz.users.username}}</th>
				<th>{{user_quiz.total_score}}</th>
			</tr>
			{% endfor %}
		</tbody>
	</table>

</div>

{% endblock %}