{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital@0;1&family=Roboto:ital@1&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{% static 'quiz/style.css' %}">
    <script src="{% static 'main.js' %}"></script>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v9.0"
        nonce="8E6OZDVx"></script>

</head>

<body class="bg-image">
    <!-- Navigation Bar -->
    <nav class="navbar fixed-top navbar-expand-lg bg-dark navbar-dark" data-bs-theme="dark">
        <div class="container-fluid ">
            <a class="navbar-brand" href="{% url 'HomeUser' %}">
                <div class="logo mx-5"><img src="../static/quiz/images/logo.png"></div>
            </a>
            <button class="navbar-toggler btn-dark" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarScroll">
                <ul class="navbar-nav me-auto my-2 my-lg-0 " style="--bs-scroll-height: 100px;">
                    <li class="nav-item text-white mx-2 px-3">
                        <a class="nav-link active " aria-current="page" href="{% url 'HomeUser' %}"><i
                                class="bi bi-house">
                            </i>Home</a>
                    </li>
                    <li class="nav-item dropdown mx-2 px-3">
                        <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Category
                        </a>
                        <ul class="dropdown-menu bg-light" aria-labelledby="navbarScroll">
                            <li><a class="dropdown-item" href="{% url 'HomeUser' %}">English</a></li>
                            <li><a class="dropdown-item" href="{% url 'HomeUser' %}">Math</a></li>
                        </ul>
                    </li>
                    <li class="nav-item mx-2 px-3 dropdown ">
                        <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Resources
                        </a>
                        <ul class="dropdown-menu bg-light" aria-labelledby="navbarScroll">
                            <li><a class="dropdown-item" target="_blank" href="https://www.khanacademy.org/">Khan
                                    Academy</a></li>
                            <li><a class="dropdown-item" target="_blank" href="https://www.coursera.org/">Coursera</a>
                            </li>
                            <li><a class="dropdown-item" target="_blank" href="https://www.gutenberg.org/">Project
                                    Gutenberg</a></li>
                            <li><a class="dropdown-item" target="_blank"
                                    href="https://www.openculture.com/freeonlinecourses">Online university courses</a>
                            </li>
                            <li><a class="dropdown-item" target="_blank" href="https://scholar.google.com/">Google
                                    Scholar</a></li>
                        </ul>
                    </li>
                    <li class="nav-item mx-2 px-3">
                        <a class="nav-link active text-white" aria-current="page"
                            href="{% url 'panel' %}">Leaderboard</a>
                    </li>
                    <li class="nav-item mx-2 px-3">
                        <a class="nav-link active text-white" aria-current="page" href="{% url 'contact' %}">Contact</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item mx-2 px-3">
                        <a class="nav-link active text-info " aria-current="page" href="{% url 'results' %}">My
                            Results</a>
                    </li>
                    {% endif %}
                </ul>
                <form class="d-flex justify-content-end text-white">
                    {% if user.is_authenticated %}
                    <a href="{% url 'HomeUser' %}"><button class="btn btn-outline-secondary text-danger rounded-pill"
                            type="button"><i class="bi bi-person-circle "></i> {{user}}</button></a>
                    <a href="{% url 'logout_view' %}"><i class="bi bi-box-arrow-in-right fs-4 text-white ms-4 me-5"
                            title="Log Out"></i></a>

                    {% else %}
                    <a href="{% url 'login' %}"><button class="btn btn-outline-secondary rounded-pill text-white me-5"
                            title="LogIn" type="button"><i class="bi bi-person-circle "> </i>Log In</button></a>
                    {% endif %}
                </form>
            </div>
        </div>
    </nav>
    <!-- Main Content Section -->
        <div class="container pt-3 mt-5 mainbox">
            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">{{message}}<button type="button"
                    class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {%endfor%}
            {% endif %}
        {% block content %}

        {% endblock %}
    </div>
    <!-- Footer Section -->
    <footer class="bg-dark text-white py-1 mt-5 fixed-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center text-md-start ">
                    <p><small>&copy; 2023 My Django Project </small></p>
                </div>
                <div class="col-md-6 text-center text-md-end">
                    <p><small> Created by <a target="_blank" href="https://github.com/ghughuni"> Ghughuni</a> </small>
                    </p>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>