{% extends 'base.html' %}
{% block title %}Contact{% endblock %}

{% block content %}
<form method="POST">
    {% csrf_token %}
    <div class="container  p-5 my-5 bg-opacity-75 bg-dark text-white rounded">
        <div class="container">
            <h2 class="text-center text-danger">Contact Us</h2>
            <hr>
            <div class="row">
                <div class="col-md-6">
                    <p><strong>Address: </strong> Georgia, Kutaisi, 123 Main Street</p>
                    <p><strong>Telephone:</strong> +995 577 88 88 88</p>
                    <p><strong>Email:</strong> gkikvidze91@gmail.com</p>
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d47255.064554194476!2d42.63809768747943!3d42.24774264135569!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x405c8ce30e54af2d%3A0xfbec41b2d626656f!2z4YOl4YOj4YOX4YOQ4YOY4YOh4YOY!5e0!3m2!1ska!2sge!4v1683622361038!5m2!1ska!2sge"
                        width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <div class="col-md-6">
                    <form>
                        <div class="mb-3">
                            <label for="name" class="form-label">Name</label>
                            <input type="text" class="form-control" id="name" placeholder="Enter your name">
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email address</label>
                            <input type="email" class="form-control" id="email" placeholder="Enter your email address">
                        </div>
                        <div class="mb-3">
                            <label for="message" class="form-label">Message</label>
                            <textarea class="form-control" id="message" rows="5"
                                placeholder="Enter your message"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary rounded-pill">Submit</button>
                    </form>
                </div>
            </div>
        </div>


    </div>
</form>

{% endblock %}