img {
    border-radius: 50%;
    width: 70px;
    box-shadow: 0px 0px 10px yellow;
}

body {
    background: url(images/background.jpg);
    height: 100vh;
    font-family: 'Merriweather', serif;
}

.nav-item:hover {
    background: radial-gradient(rgb(141, 141, 47), rgb(53, 52, 52));
    border-radius: 30px;
    box-shadow: rgba(238, 235, 235, 0.35) 0px 0px 15px;
}

button:hover {
    box-shadow: rgba(214, 214, 49, 0.35) 0px 0px 15px;
}