{% extends 'base.html' %}
{% block title %}Register page{% endblock %}
{% block content %}

<div class="container py-5 my-5 bg-opacity-75 bg-dark text-white rounded shadow-lg">
	<div class="row justify-content-center">
		<div class="col-md-6">
			<h2 class="text-center mb-4">Create an Account</h2>
			<form method="POST">
				{% csrf_token %}

				{{form.as_p}}
				<div class="text-center">
					<button class="btn btn-primary btn-lg w-50 rounded-pill mt-4" name="submit" type="submit">
						Submit
					</button>
				</div>
			</form>

			<hr class="my-4">
			<div class="text-center">
				<p class="mb-0">Already have an account?</p>
				<a href="{% url 'login' %}" class="btn btn-outline-light rounded-pill mt-2 px-3">Log In</a>
			</div>
		</div>
	</div>
</div>
{% endblock %}